body {
  margin: 0;
  font-family: 'Open-Sans', sans-serif;
  background: #f1f1f1;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: white;
  height: 80px;
  width: 100%;
}
header h1 {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0;
}
section#images {
  width: 100%;
  height: 200px;
  background: linear-gradient(rgb(231, 194, 124), rgb(224, 156, 92))
}
header span {
  font-size: 1rem;
  opacity: 0.7;
}
section#content {
  max-width: 1000px;
  margin: -25px auto 0 auto;
}
section.profile {
  width: 100%;
  min-height: 50px;
  box-shadow: 0 0 2px rgba(0,0,0,0.15);
  background: white;
  box-sizing: border-box;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.profile img {
  border-radius: 99px;
  width: 75px;
  margin-right: 20px;
}
section.profile h2 {
  margin: 0;
}
.infos {
  justify-content: center;
  display: flex;
  flex-direction: column;
  font-size: .95rem;
}
.muted {
  color: rgb(70, 128, 204);
}
.contacts {
  font-weight: bold;
  margin: .2rem;
  font-size: 1.1rem;
}
.flex {
  display: flex;
}
article img {
  max-width: 100%;
  max-height: 100px;
  object-fit: cover;
  object-position: center;
}
article {
  background: white;
  box-shadow: 0 0 3px rgba(0,0,0,0.15);
}
article div {
  display: flex;
  flex-direction: column;
}